<table>
<thead>
<tr>
<td>Title</td>
<td>Descrition</td>
<td>Actions</td>
</tr>
</thead>
<tbody>
<% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
    </tr>
<% end %>
</tbody>
</table>